<div class="engineerShowPage">
  <div class="container">
    <header class="header">
      
    </header>
    <div class="engineerInfo">
      
    </div>
    <div class="engineerInfo_name"><%= @engineer.name %></div>
    <div class="engineerInfo_selfIntroduction"><%= @engineer.self_introduction %></div>
  </div>
  <% if current_engineer.id == @engineer.id %>
    <div class="engineerAction">
      <div class="engineerAction_edit engineerAction_common">
        <%= link_to(content_tag(:i, "", class: "fas fa-edit fa-2x"), edit_engineer_registration_path) %>
        <span>情報を編集</span>
      </div>
      <div class="engineerAction_logout engineerAciton_common">
        <%= link_to(content_tag(:i, "", class: "fas fa-cog fa-2x"), destroy_engineer_session_path, method: :delete) %>
        <span>ログアウト</span>
      </div>
    </div>
  <% end %>
</div>