.loginPage {
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
    }
    &_mainLogo{
      max-width: 300px;
      max-height: 300px;
      margin: auto;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #00ced1;
      color: #fff;
    }
  }
}
